<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zhiyicx.justdodagger2">

    <!--覆盖gsy包类sdk版本-->
    <uses-sdk tools:overrideLibrary="
    com.shuyu.gsyvideoplayer,
    com.shuyu.gsyvideoplayer.armv5,
    com.shuyu.gsyvideoplayer.armv7a,
    com.shuyu.gsyvideoplayer.armv64" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TSTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThinkActivity" />
    </application>

</manifest>